/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FF4545; /* Add your desired background color here */
}

header {
  background-color: #FF4545;
  color: #fff;
  padding: 1rem;
  text-align: center;
}


header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .logo img {
  max-width: 500px; /* Set the maximum width to 500px */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image is treated as a block element */
  margin: 0.5rem auto; /* Reduce bottom margin to bring it closer to the next section */
  width: 100%; /* Make it responsive */
}

main {
  padding: 2rem;
}

.audio-player {
  margin: 1rem 0; /* Reduce top margin to bring it closer to the header */
  text-align: center;
}

.images {
  margin: 2rem 0;
  text-align: center;
}

.album-image img {
  max-width: 150px; /* Set the maximum width to 150px */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image is treated as a block element */
  margin: 1rem auto; /* Center the image and add spacing */
}

.language-menu {
  margin-top: 1rem;
  text-align: center;
}
