/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FF4545; /* Add your desired background color here */
}

header {
  background-color: #FF4545;
  color: #fff;
  padding: 1rem;
  text-align: center;
}


header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .logo img {
  max-width: 500px; /* Reduced size by 75% (from 100px to 75px) */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
  width: 100%; /* Make it responsive */
}

main {
  padding: 2rem;
}

.audio-player {
  margin: 2rem 0;
  text-align: center;
}

.images {
  margin: 2rem 0;
  text-align: center;
}
